---
---
/*
* Colors
*/
@base-link-blue:#5f8dd3;@base-text-grey:#555;@sub-text-grey:#999;@light-grey:#ccc;@very-light-grey:#eee;
/*
* Global
*/
:focus{outline:1px dotted @base-text-grey;}
html,footer,header{background-image:url("../img/333.jpg");background-repeat:repeat;}
.container{margin:0 auto;}
ul{list-style:none;padding:0;margin:0;}
nav li{display:block;margin:0;padding:0;}
body,h1,h2,h3,h4,h5{font-size:90%;color:@base-text-grey;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;}
body{background-color:@very-light-grey;}
h1,h2,h3,h4,h5{text-transform:uppercase;letter-spacing:1px;font-weight:400;margin:1.5em 0 0 0 ;}
h2.post-title{font-size:1.5em;margin:1em 0 0 0;font-weight:300;}
h3.post-title{font-size:1.2em;margin:1em 0 0.1em 0;font-weight:200;}
.post-title{text-transform:none;}
h2{font-size:0.9em;font-weight:500;}
h3{font-size:1em;}
h4{font-size:0.9em;}
p{margin:1em 0;}
a{text-decoration:none;}
a:link,a:visited,a:active{color:@base-link-blue;}
a:hover{border-bottom:1px dotted @base-link-blue;}
/*
* Header
*/
header{background-color:#fff;border-top:5px solid #000;border-bottom:1px solid @base-text-grey;}
header h1{text-transform:none;font-size:3em;margin:0.2em 0 0.3em 0;color:@very-light-grey;letter-spacing:1px;}
header h1 span.surname{color:@sub-text-grey;}
nav#main li{float:right;}
nav#main a, nav#main .selected {text-align:center;display:block;padding:1em 0 0.1em 0;letter-spacing:2px;text-transform:uppercase;font-size:0.9em;font-weight:200;margin:1em 1em 0 1em;}
nav#main a:link,nav#main a:visited,nav#main a:active{color:@sub-text-grey;}
nav#main a:hover{border-bottom:20px solid @base-link-blue;}
nav#main .selected{border-bottom:20px solid @base-text-grey;color:@very-light-grey;}
/*
* Content
*/
span.archive-listing-date{width:90px;float:left;}
.post.content{border-top:1px dotted @light-grey;border-bottom:1px dotted @light-grey;}
.post.content.excerpt{border-top:none;border-bottom:none;border-top:1px dotted @light-grey;}
.post.content.excerpt p{margin-bottom:0;margin-top:0.5em;}
.block-text,.post.content{text-align:justify;}
.post.byline{color:@sub-text-grey;margin:0.5em 0;font-size: 0.9em;}
.post.excerpt.read-more p,p a#comment-toggle{font-size:0.9em;text-align:left;margin:0;}
#post-archive-category-list p{text-align:center;margin:0;padding:0.6em 0 0.8em 0;}
#post-archive-category-list a{margin:1em 0.4em;padding:2px;text-transform:uppercase;letter-spacing:1px;font-size:0.8em;color:@sub-text-grey;font-weight:400;}
#post-archive-category-list a.selected {border-bottom:5px solid @sub-text-grey;color:@base-text-grey;}
#post-archive-category-list a:hover {border-bottom:5px solid @base-link-blue;color:@base-link-blue;}
nav#post-archive-list{margin:1em 0;}
nav#post-archive-list a.title{padding-left:10px;font-size:1em;}
#archive-pointer{text-align:right;}
pre{margin:5px 0;border:1px dotted @sub-text-grey;overflow:auto;}
code{font-size:0.8em;}
.post.content ul{list-style-type:disc;margin:0 1.5em 1.5em 0;padding-left:1.5em;}
blockquote{color:@sub-text-grey;font-size:0.8em;border-left:1px solid @sub-text-grey;padding-left:10px;}
img.bordered{border:2px @sub-text-grey solid;}
img.post-float-left{float:left;margin:10px 10px 10px 0;}
img.post-float-right{float:right;margin:10px 0 10px 10px;}
#colophon li{border-bottom:1px dotted @light-grey;width:100%;}
article.post.excerpt{margin:1em 0;}
/*
* Footer
*/
footer{color:@sub-text-grey;margin:0;padding:0 0 5px 0;font-size:0.9em;border-top:1px solid @base-text-grey;}
footer h1,footer h2,footer h3,footer h4,footer h5{color:@sub-text-grey;}
footer a:link,footer a:visited,footer a:active{color:@base-link-blue;}
footer a:hover{border-bottom:none;color:#fff;}
footer #copyright{font-size:75%;width:100%;padding-top:10px;margin-top:10px;border-top:1px solid @base-text-grey;text-align:right;}
img.profile-image{padding:10px 0 10px 10px;float:right;}
footer li{border-bottom:1px dotted @base-text-grey;width:100%;padding:5px 0;}
footer ul{margin:0.5em 0;}
footer li{}
#colophon ul{margin:0.5em 0;}
#colophon li{padding:0.5em 0;}
footer li.last,#colophon li.last{border-bottom:none;}
footer .heading h2{font-weight:normal;}
/*
* Comments
*/
#comments{display:none;}
