---
---
/*
* Colors
*/
@base-link-blue:#5f8dd3;@base-text-grey:#555;@sub-text-grey:#999;@light-grey:#ccc;@very-light-grey:#eee;
/*
* Global
*/
:focus{outline:1px dotted @base-text-grey;}
header{background-image:url("../img/header.jpg");background-repeat:repeat;}
footer{background-image:url("../img/footer.jpg");background-repeat:repeat;}

html{background-image:url("../img/222.jpg");background-repeat:repeat;}

.container{margin:0 auto;}
ul{list-style:none;padding:0;margin:0;}
nav li{display:block;margin:0;padding:0;}
body,h1,h2,h3,h4,h5{font-size:90%;color:@base-text-grey;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;text-shadow:0 1px 0 rgba(255,255,255,1);}
body {background-image: url("../img/eee.jpg");background-repeat: repeat;}
h1,h2,h3,h4,h5{text-transform:uppercase;font-weight:400;margin:1.5em 0 0 0;}
h2.post-title{font-size:1.5em;margin:1em 0 0 0;font-weight:300;}
h3.post-title{font-size:1.2em;margin:1em 0 0.5em 0;font-weight:200;}
.post-title{text-transform:none;}
h2{font-size:0.9em;font-weight:500;}
h3{font-size:1em;}
h4{font-size:0.9em;}
p{margin:1em 0;}
a{text-decoration:none;}
a:link,a:visited,a:active{color:@base-link-blue;}
a:hover{border-bottom:1px dotted @base-link-blue;}
/*
* Header
*/
header{border-top:10px solid #222;border-bottom:1px solid @base-text-grey;height:75px;}
header #spacer {height:18px;}
header h1{text-transform:none;font-size:44px;margin:8px 0 8px 0;color:@very-light-grey;letter-spacing:1px;}
header h1 span.surname{color:@sub-text-grey;}
nav#main li{float:right;}
nav#main a, nav#main .selected {text-align:center;display:block;padding:1em 0 0.1em 0;letter-spacing:2px;text-transform:uppercase;font-size:14px;font-weight:400;margin:1em 1em 0 1em;}
nav#main a:link,nav#main a:visited,nav#main a:active{color:@sub-text-grey;}
nav#main a:hover{border-bottom:8px solid @base-link-blue;}
nav#main .selected{border-bottom:7px solid @base-text-grey;color:@very-light-grey;}
/*header, header h1 {text-shadow: none}*/
header, header h1 {text-shadow: 0 -1px 0 rgba(0,0,0,1)}

/*
* Content
*/
.post.content{border-top:1px dotted @light-grey;border-bottom:1px dotted @light-grey;}
.post.content.excerpt{border-top:none;border-bottom:none;border-top:1px dotted @light-grey;}
.post.content.excerpt p{margin-bottom:0;margin-top:0.5em;}
.block-text,.post.content{text-align:justify;}
.post.byline{color:@sub-text-grey;margin:0.5em 0;font-size: 0.9em;}
.post.excerpt.read-more p,p a#comment-toggle{font-size:0.9em;text-align:left;margin:0;}
#post-archive-category-list p{text-align:center;margin:0;padding:0.6em 0 0.8em 0;}
#post-archive-category-list a{margin:1em 0.4em;padding:2px;text-transform:uppercase;letter-spacing:1px;font-size:0.8em;color:@sub-text-grey;font-weight:400;}
#post-archive-category-list a.selected {border-bottom:5px solid @sub-text-grey;color:@base-text-grey;}
#post-archive-category-list a:hover {border-bottom:5px solid @base-link-blue;color:@base-link-blue;}
span.archive-listing-date{float:right;font-size:0.9em;}
nav#post-archive-list{margin:1em 0;}
nav#post-archive-list a.title{
  /*  */
  
font-size:1em;}
#archive-pointer{text-align:right;}
pre{margin:5px 0;border:1px dotted @sub-text-grey;overflow:auto;}
code{font-size:0.8em;}
.post.content ul{list-style-type:disc;margin:0 1.5em 1.5em 0;padding-left:1.5em;}
blockquote{color:@sub-text-grey;font-size:0.8em;border-left:1px solid @sub-text-grey;padding-left:10px;}
img.bordered{border:2px @sub-text-grey solid;}
img.post-float-left{float:left;margin:10px 10px 10px 0;}
img.post-float-right{float:right;margin:10px 0 10px 10px;}
#colophon li{border-bottom:1px dotted @light-grey;width:100%;}
#colophon ul{margin:0.5em 0;}
#colophon li{padding:0.5em 0;}
#colophon li.last{border-bottom:none;}
article.post.excerpt{margin:1em 0;}
p.bigger{font-size: 1.5em;}
/*
* Footer
*/
#frieze, #runner {background-image: url("../img/222.jpg");background-repeat: repeat;}
#frieze {height:20px;}
#runner {height:40px;}

footer {color:@light-grey;margin:0;padding:0 0 5px 0;font-size:0.9em;border-top:1px solid @base-text-grey;border-bottom:1px solid @base-text-grey;}
footer, footer h2 {text-shadow:0 -1px 0 rgba(0,0,0,0.8);}
/*footer, footer h2 {text-shadow:none;}*/
footer h1,footer h2,footer h3,footer h4,footer h5{color:@sub-text-grey;}
footer h2{font-weight:500;}
footer a:link,footer a:visited,footer a:active{color:@base-link-blue;}
footer a:hover{border-bottom:none;color:#fff;}
#copyright{font-size:75%;width:100%;margin-top:0px;margin-bottom:10px;text-align:right;text-shadow:0 -1px 0 rgba(0,0,0,0.8);}
img.profile-image{padding:1em 2em 0.5em 0.5em ;float:right;}
footer ul{margin:1em 0;}
footer .heading h2{font-weight:normal;}
footer li {padding:0;margin-bottom:0.5em;}
footer li a {text-transform:uppercase;letter-spacing:1px;font-weight:100;font-size: 0.9em;}
footer .subtext{font-size:0.9em; font-weight:100;}
/*
* Comments
*/
#comments{display:none;}

footer .span-3, footer .span-6 {float:left;margin-right:10px;}
footer .span-3 {width:140px;}
footer .span-6 {width:350px;}
footer .span-3.last {width:180px; margin-right:0;}

/*
 * 404
 */
#four_oh_four { text-align: center;margin-left:auto;margin-right:auto;} 

/*
 * Half court shot JS
 */
.hcs{overflow:hidden;text-align:left;}
.hcs ul, .hcs *{padding:0;margin:0;border:0;outline:0;list-style-type:none;}
.hcs ul {margin:0 auto;}

.hcs li{width:100px;height:75px;position:relative;display:block;padding:5px;margin:5px 5px 5px 5px;background:rgba(0,0,0,0.075);-webkit-border-radius:5px;-webkit-transition:background 0.2s linear;-moz-border-radius:5px;-moz-transition:background 0.2s linear;border-radius:5px;transition:background 0.2s linear;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#14000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#14000000)";display:table;float:left;vertical-align:middle;}
.hcs li a{width:100px;height:75px;text-align:center;vertical-align:middle;display:table-cell;}
.hcs li:hover{background:rgba(0,0,0,0.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)";}
.hcs img{width:auto;height:auto;max-width:100px;max-height:75px;border:0;-ms-interpolation-mode:bicubic;font-size:0;float:left;}
.hcs a:hover {border-bottom:none;}
