---
layout:   default
title:    Archive 
---

<p>
  This is a complete listing of all my published blog posts.
</p>
<p>
  You can filter archived posts by selecting one of the following categories: 
</p>
<div id="post-archive-category-list">
  <p>    
    {% for category in site.categories %}<a class="cat-{{ category | first }}" href="javascript:filterByCategory('cat-{{ category | first }}')">{{ category | first }}</a> {% endfor %}      
  </p>
</div>
<p>
  Or you can clear the filter and <a href="javascript:filterByCategory('reset')">show all the posts &rarr;</a>
</p>

<nav id="post-archive-list">
  <ul>
    {% for post in site.posts %}        
      <li class="{% for category in post.categories %}cat-{{ category }} {% endfor %}"><span class="archive-listing-date">{{ post.date | date: "%d %b, %Y" }}</span><a class="title" href="{{ post.url }}">{{ post.title }}</a>|{% for category in post.categories %}{{ category }} {% endfor %}</li>

    {% endfor %}
  </ul>
<nav>
  

<script type="text/javascript" charset="utf-8">
  window.onload=initArchive();
</script>

