---
layout:   default
title:    Blog 
---
<div class="lead-in block-text span-12 last">
  <p>
    Thoughts, interests, inspirations, tips and unsolicited opinions of a coder and designer. Please feel free to leave comments - I'd love to hear from you! If you'd like updates of new posts, you can <a href="{{ site.feed }}">subscribe</a>.
  </p>    
  
  <p>
    Below is a complete listing of all my published posts. If it's a bit much you can filter the list of posts by selecting one of the following categories:
  </p>
  <div id="post-archive-category-list">
    <p>
      {% for category in site.categories %}<a class="cat-{{ category | first }}" href="javascript:filterByCategory('cat-{{ category | first }}')">{{ category | first }}</a> | {% endfor %} <a href="javascript:filterByCategory('reset')">show all the posts &rarr;</a>     
    </p>
  </div>

  <nav id="post-archive-list">
    <ul>
      {% for post in site.posts %}        
        <li class="{% for category in post.categories %}cat-{{ category }} {% endfor %}"><span class="archive-listing-date">{{ post.date | date: "%d %b, %Y" }}</span><a class="title" href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  
</div>

<script type="text/javascript">
  window.onload=initArchive();
</script>


