---
layout:   default
title:    Portfolio
---
<div class="span-12 last">  
  <p class="first">
    Flotsam and Jetsam of a wobbly mind – some recent work <span class="ampersand">&amp;</span> other stuff that I've made
  </p>
  <p class="second">
    Click on any of the thumbnailed images for a larger version of the full image. 
  </p>
  {% assign size = '120' %}  
</div>

<div id="folio" class="span-12 last">
    
  {% assign image_name = 'first_birthday' %}
  {% assign imgtitle = 'First Birthday' %}
  {% include folio_image.html %}    
  
  {% assign image_name = 'social_icons' %}
  {% assign imgtitle = 'Iconical' %}
  {% include folio_image.html %}    

  {% assign image_name = 'logicsquad_stamp' %}
  {% assign imgtitle = 'Genuine Logic Squad' %}
  {% include folio_image.html %}    
  
  {% assign image_name = 'bunnies' %}
  {% assign imgtitle = 'Bunnies' %}
  {% include folio_image.html %}

  {% assign image_name = 'scienceofsteph' %}
  {% assign imgtitle = 'Science Of Steph' %}
  {% include folio_image.html %}

  
  {% assign image_name = 'babushka_family' %}
  {% assign imgtitle = 'Babushka Family' %}
  {% include folio_image.html %}
      
  {% assign image_name = 'sixteen' %}
  {% assign imgtitle = 'Sixteen' %}
  {% include folio_image.html %}    

  {% assign image_name = 'day_owl' %}
  {% assign imgtitle = 'Day Owl' %}
  {% include folio_image.html %}    
  
  {% assign image_name = 'night_owl' %}
  {% assign imgtitle = 'Night Owl' %}
  {% include folio_image.html %}       
              
  {% assign image_name = 'mjc_concept' %}
  {% assign imgtitle = 'MJC Logo Concept' %}
  {% include folio_image.html %}    
  
</div>