---
layout:   default
--- 

<div class="span-12 last">
  <p class="first">
    Design. Development. Illustration.
  </p>
	{% include folio.html %}
</div>

<div id="latest-notes" class="span-8">  
  <h2>Recent writing</h2>
  {% for post in site.posts limit:1 %}
    {% include post_excerpt.html %}    
  {% endfor %}
  <p>
    For older posts, have a look in the <a href="/notebook.html">notebook</a>.
  </p>
</div>

<div id="working-on" class="span-4 last">
  <h2>What I'm working on</h2>  
  <!--[if lt IE 7]>      
  <p>
  Unfortunately, IE 6 is not capable of displaying these images without completely borking the page formatting, so they have been removed.
  </p>
  <p>
  You can go to <a href="{{ site.dribbble }}">Dribble.com</a> to see them full size, or you can download a modern standards compliant browser like <a href="http://www.google.com/chrome">Chrome</a>, <a href="http://www.mozilla.com/en-US/firefox/">Firefox</a> or <a href="http://www.apple.com/safari/download/">Safari</a>.
  <![endif]-->    
  <div id="mydribbble" >
  </div>
</div>