<div id="about" class="span-12 last">
	<!-- <div class="span-4">  
	  <p class="first">
	    Hello there. My name is Dave.
		</p>
	  <p class="first">			
			I like to make things <span class="ampersand">&amp;</span> draw stuff
	  </p>
	</div> -->
  <h2>About me</h2>	
  <p class="second">
    Hi. My name is Dave and I'm a Web Developer and Designer based in Melbourne, Australia. 
  </p>
	<p>
 		In addition to my job and freelance work, I'm currently enrolled in a Graduate Diploma in Graphic Design at RMIT where I'm building my skills in identity and illustration. In my spare time (har har) I hang out with my family and spend as much time as possible doing stuff with my daughter, because she's awesome. 
 	</p>
</div>  
 
<div class="span-12 last">  
  <p id="disclaimer">
    <em>
      This site, its content &amp; the opinions contained therein are my own and in no way represent or are affiliated with my employer.
    </em>
  </p>
</div>