<h2 >Connect <span class="ampersand">&amp;&nbsp;</span> Follow</h2>
{% assign size = '24' %}
<ul  id="contact-icons">
  <li><a class="image-wrapper" href="{{ site.feed }}"><img src="/img/icon/rss.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Subscribe to my <a href="{{ site.feed }}">notebook</a></li>
    <li><a class="image-wrapper"  href="mailto:{{ site.email }}"><img src="/img/icon/mail.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Email <a href="mailto:{{ site.email }}">dave@dlimiter.net</a></li>
  <li><a class="image-wrapper"  href="{{ site.twitter }}"><img src="/img/icon/twitter.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Twitter <a href="{{ site.twitter }}">twitter.com/dlimiter</a></li>
  <li><a class="image-wrapper"  href="{{ site.dribbble }}"><img src="/img/icon/dribbble.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Dribbble <a href="{{ site.dribbble }}">dribbble.com/dlimiter</a></li>
  <li><a class="image-wrapper"  href="{{ site.zerply }}"><img src="/img/icon/zerply.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Zerply <a href="{{ site.zerply }}">zerply.com/profile/dlimiter/public</a></li>
  <li><a class="image-wrapper"  href="{{ site.github }}"><img src="/img/icon/github.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Github <a href="{{ site.github }}">github.com/dlimiter</a></li>
  <li><a class="image-wrapper"  href="{{ site.linkedin }}"><img src="/img/icon/linkedin.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Linkedin <a href="{{ site.linkedin }}">au.linkedin.com/in/dlimiter</a></li>
</ul>