<h2>Quick Contact<span class="ampersand">&nbsp;</span></h2>
<div id="contact-form">
  <form name="contact" action="">
    <fieldset>
      <ol>
        <li>
          <label for="name" id="name-label">Your Name <span id="name-error" class="error">Please include your name</span></label>
          <input type="text" name="name" id="name" size="30" value="" class="text-input" />
        </li>
        <li>
          <label for="email" id="email-label">Your Email <span id="email-error" class="error">Please include your (valid) email</span></label>
          <input type="text" name="email" id="email" size="30" value="" class="text-input" />
        </li>
        <li>
          <label for="message" id="message_label">Your Message <span id="message-error" class="error">What do you want to talk about?</span></label>
          <textarea name="message" id="message" class="text-input" ></textarea>
        </li>
        <li>
          <span><em>* All fields are required</em></span><input type="submit" name="submit" class="button" id="submit-btn" value="Send Messsage" />
        </li>
      </ol>
      
    </fieldset>
  </form>
</div>
