
<div id="folio" class="span-12 last">
  {% assign size = '120' %}  


  {% assign image_name = 'survstar' %}
  {% assign imgtitle = 'SurvStar' %}
  {% include folio_image.html %}

  {% assign image_name = 'seas_the_day' %}
  {% assign imgtitle = 'seastheday.com.au' %}
  {% include folio_image.html %}

  {% assign image_name = 'social_icons' %}
  {% assign imgtitle = 'Iconical' %}
  {% include folio_image.html %}
    
  <!-- {% assign image_name = 'first_birthday' %}
  {% assign imgtitle = 'First Birthday' %}
  {% include folio_image.html %}   -->  
  
  {% assign image_name = 'this_book_belongs_to' %}
  {% assign imgtitle = 'This Book Belongs To' %}
  {% include folio_image.html %}

  <!-- {% assign image_name = 'logicsquad_stamp' %}
  {% assign imgtitle = 'Genuine Logic Squad' %}
  {% include folio_image.html %}   -->  

  {% assign image_name = 'bunnies' %}
  {% assign imgtitle = 'Bunnies' %}
  {% include folio_image.html %}

  {% assign image_name = 'scienceofsteph' %}
  {% assign imgtitle = 'Science Of Steph' %}
  {% include folio_image.html %}

  {% assign image_name = 'the_art_of_juggling' %}
  {% assign imgtitle = 'The Art of Juggling' %}
  {% include folio_image.html %}   

  <!-- {% assign image_name = 'avatar' %}
  {% assign imgtitle = 'Avatar' %}
  {% include folio_image.html %}   -->

  {% assign image_name = 'babushka_family' %}
  {% assign imgtitle = 'Babushka Family' %}
  {% include folio_image.html %}
      
  <!-- {% assign image_name = 'sixteen' %}
  {% assign imgtitle = 'Sixteen' %}
  {% include folio_image.html %}    --> 

  {% assign image_name = 'day_owl' %}
  {% assign imgtitle = 'Day Owl' %}
  {% include folio_image.html %}    
  
  {% assign image_name = 'night_owl' %}
  {% assign imgtitle = 'Night Owl' %}
  {% include folio_image.html %}       
              
  <!-- {% assign image_name = 'mjc_concept' %}
  {% assign imgtitle = 'MJC Logo Concept' %}
  {% include folio_image.html %}    --> 
  
</div>