
<div id="folio" class="span-12 last">
  {% assign size = '120' %}  

  {% assign image_name = 'faces' %}
  {% assign imgtitle = 'Illustration: The Eyes Have It' %}
  {% include folio_image.html %}

  {% assign image_name = 'survstar' %}
  {% assign imgtitle = 'Web: survstar.com' %}
  {% include folio_image.html %}

  {% assign image_name = 'the_art_of_juggling' %}
  {% assign imgtitle = 'Print: The Art of Juggling' %}
  {% include folio_image.html %}   

  {% assign image_name = 'babushka_family' %}
  {% assign imgtitle = 'Babushka Family' %}
  {% include folio_image.html %}

  {% assign image_name = 'owls' %}
  {% assign imgtitle = 'Illustration: Owls' %}
  {% include folio_image.html %}

  {% assign image_name = 'dlimiter_brand_stamp' %}
  {% assign imgtitle = 'Print: Personal Brand Stamp' %}
  {% include folio_image.html %}

  {% assign image_name = 'this_book_belongs_to' %}
  {% assign imgtitle = 'Print: This Book Belongs To' %}
  {% include folio_image.html %}

  {% assign image_name = 'seas_the_day' %}
  {% assign imgtitle = 'Web: seastheday.com.au' %}
  {% include folio_image.html %}

  {% assign image_name = 'bunnies' %}
  {% assign imgtitle = 'Illustration: Bunnies' %}
  {% include folio_image.html %}

  {% assign image_name = 'social_icons' %}
  {% assign imgtitle = 'Web: Iconical' %}
  {% include folio_image.html %}
  
</div>