<header>
  <div class="container">
    <div id="name-title" class="span-5">
      <h1>dlimiter<span class="surname">.net</span></h1>
    </div>
    
    <nav id="main">
      <div id="mainnav" class="span-7 last">
        <ul>
          <li><a href="/contact.html"><span class="nav-main">Contact</span><span class="nav-subscript">Connect with me</span></a></li>
          <li><a href="/about.html"><span class="nav-main">About</span><span class="nav-subscript">More about me</span></a></li>
          <li><a href="/blog.html"><span class="nav-main">Writing</span><span class="nav-subscript">My blog</span></a></li>
          <li><a class="first" href="/"><span class="nav-main">Home</span><span class="nav-subscript">Where I live</span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>