---
layout: default
---

<!-- Unabridged post content -->
<div class="span-12 last">
  <article class="post">
    <h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
    <div class="post byline">
        Filed under {% for category in page.categories %}{% if category == page.categories.last and category != page.categories.first %} and {% elsif category != page.categories.first %}, {% endif %}<a href="/notebook.html?cat=cat-{{ category | replace:' ','-' }}">{{ category }}</a>{% endfor %} on {{ page.date | date: "%d %b, %Y" }}
    </div>
    <div class="post content">
      {{ content }}    
    </div>
  </article>

  <!-- Disqus Comments handling -->
  <p>
    <a href="javascript:toggleComments()" id="comment-toggle">Show Comments</a> 
  </p>
  <div id="comments">
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>

  <script type="text/javascript">
      var disqus_shortname = 'dlimiternet'; 
      var disqus_identifier = '{{ page.url }}';
      var disqus_url = '{{ site.url }}{{ page.url }}';
      var disqus_developer = 0;
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>